body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mobile-nav {
    display: none;
}

.hidden {
    display: none;
}
footer div{
    background-color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}
#fade { transition: filter 1s linear; }
.blur { filter: blur(30px); }